<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="personalizationSuite">
  <test thread-count="5" name="customfunctionTest">
    <classes>
      <class name="Test_Script.Test_ValidationPersonalizationFunction"/>
    </classes>
  </test> <!-- customfunctionTest -->
</suite> <!-- personalizationSuite -->
